@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import url('./header.css');
@import url('./main.css');

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: "Press Start 2P", cursive;
    background-image: url(../images/wall.png);
}